<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A bunch of guys who love cona living together in a make-believe incubator renders INCUBACONA.
  This is the platform where they will share their stupidest ideas, hoping that one can make them rich.
</p>