<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can find us on <b>Rua Armando Cardoso 57</b>, 4200, Porto, Portugal.
  You can also e-mail the coolest of the guys to <b>rui.silva@fraunhofer.pt</b>.
</p>